<div class="wrapper">
    <div class="navbar-fixed">
        <nav class="blue darken-4" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" routerLink="/" class="brand-logo">
                    <img
                        src="assets/images/logo.webp">
                </a>
                <ul class="right hide-on-med-and-down">
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a
                            routerLink="/academic">academic</a></li>
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a
                            routerLink="/enterprise">enterprise</a></li>
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a
                            routerLink="/healthcare">healthcare</a></li>
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a
                            routerLink="/research">research</a></li>
                </ul>

                <ul id="nav-mobile" class="sidenav">
                    <li><a routerLink="/academic">academic</a></li>
                    <li><a routerLink="/enterprise">enterprise</a></li>
                    <li><a routerLink="/healthcare">healthcare</a></li>
                    <li><a routerLink="/research">research</a></li>
                </ul>
                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </div>
    <div fxFlexFill class="container content">
        <router-outlet></router-outlet>
    </div>
    <footer class="page-footer blue darken-4">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Company Bio</h5>
                    <p class="grey-text text-lighten-4">We are a team of college students working on this project</p>


                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Settings</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Connect</h5>
                    <ul>
                        <li><a class="white-text" href="#!">Link 1</a></li>
                        <li><a class="white-text" href="#!">Link 2</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
            </div>
        </div>
    </footer>
</div>